@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --main: #030712;
  --card: #1f2937;
  --description: #d1d5db;
  --container-colour: #111827;
  --content: rgba(209, 213, 219, 0.8);
  --gray-dark-100: rgba(31, 41, 55, 1);
  --gray-dark-200: rgba(55, 65, 81, 1);
  --card-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
}

/* Basic styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

html,
body {
  background-color: var(--main);
  color: white;
  max-width: 100%;
  overflow-x: hidden;
  user-select: none;
}

.title {
  display: grid;
  place-items: center;
  padding: 0.8rem 1.5rem 3rem;
}

.title button {
  background-color: #374151;
  color: var(--description);
  cursor: pointer;
  font-weight: 500;
  border: none;
  padding: 5px 20px;
  margin-bottom: 0.8rem;
  border-radius: 12px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.title span {
  color: var(--description);
  line-height: 1.75rem;
  font-size: 1.25em;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-section {
  max-width: 1280px;
  margin: 0 auto;
}

.main-container {
  padding: 6rem 5rem;
  min-height: 100vh;
}

.icon {
  transition: all 0.2s linear;
  max-width: max-content;
  cursor: pointer;
  padding: 4px;
}

.icon:hover {
  background-color: rgb(35, 59, 91);
  border-radius: 8px;
  transition: all 0.2s linear;
  padding: 4px;
}

.icon:hover path {
  transition: all 0.2s linear;
  stroke: var(--description);
}

.icon:active {
  background-color: var(--gray-dark-200);
}

/* Header section */

header {
  background-color: var(--main);
  width: 100%;
  z-index: 9999;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 0 14px 0 var(--main);
  position: fixed;
  top: 0;
}

.hidden-header {
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.visibled-header {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navigation {
  justify-content: space-between;
  height: 70px;
  padding-inline: 100px;
}

.navigation .box {
  gap: 15px;
}

.box ul {
  gap: 24px;
  font-weight: 500;
  list-style-type: none;
}

.box ul li a {
  color: var(--description);
}

.box .reversed-divider {
  transform: rotate(90deg);
  border: 1px solid var(--card);
  width: 25px;
  animation: rotate 2.5s infinite;
}

.box .container {
  display: flex;
  gap: 16px;
}

.box .container svg {
  cursor: pointer;
}

.box .container button {
  color: var(--container-colour);
  padding: 6px 16px;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* Introduction section */

.introduction-container {
  gap: 5rem;
  padding-inline: 2rem;
  min-height: 95vh;
}

.introduction-container .introduction-description {
  max-width: 780px;
  color: var(--description);
}

.introduction-description .introduction-title {
  font-size: 60px;
  margin-bottom: 10px;
  color: white;
}

.introduction-title .wave-animation {
  animation: wave-animation 1s infinite;
  display: inline-block;
}

.introduction-info {
  line-height: 24px;
}

.introduction-location {
  padding-block: 40px;
}

.introduction-location p {
  justify-content: flex-start;
  padding-block: 5px;
  letter-spacing: 0.8px;
}

.introduction-location svg {
  margin-right: 12px;
}

.introduction-location .pulse {
  animation: pulse 2s infinite;
}

.introduction-social-media a {
  padding: 8px;
}

.introduction-img-container {
  padding: 0 0 0 48px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    filter: drop-shadow(0 0px 4px #10b981);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
}

/* Main section (about user) */

.about-container {
  background-color: var(--container-colour);
  letter-spacing: 0.4px;
  align-items: start;
  gap: 12rem;
  padding: 11rem 2rem 5rem;
  width: 100vmax;
  position: relative;
}

.button-box {
  position: absolute;
  top: 4.5rem;
}

.button-box button {
  padding: 8px 20px;
}

.image-section img {
  border-radius: 1rem;
}

.about-container .content-section {
  max-width: 585px;
  line-height: 1.4;
  color: var(--content);
}

.content-section h1 {
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 1.2rem;
  color: white;
}

.content-section p {
  margin-bottom: 1.2rem;
}

.content-section .checklist {
  gap: 40px;
  padding: 0 15px 15px;
}

.content-section ul {
  width: 100%;
}

.content-section ul li {
  padding-bottom: 10px;
}

.content-section a {
  color: rgba(209, 213, 219, 0.6);
}

/* Section of Skills */

.skill-container {
  min-height: auto;
  letter-spacing: 0.5px;
}

.skills-section {
  padding-inline: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
}

.skills-section .skill-item {
  min-height: 100px;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.skills-section .skill-item p {
  color: var(--description);
  font-weight: 400;
  font-size: 18px;
}

/* Section of UX */

.experience-container {
  background-color: var(--container-colour);
}

.experience-section .work-experience {
  flex-direction: column;
  gap: 48px;
}

.experience-section .title {
  margin: 0 auto;
}

.work-experience .card {
  justify-content: space-between;
  align-items: start;
  background-color: var(--card);
  width: min(896px, 100%);
  border-radius: 12px;
  padding: 2rem;
}

.card img {
  padding-right: 5rem;
}

.card .container {
  flex-direction: column;
  align-items: baseline;
  max-width: 384px;
  gap: 16px;
}

.card .container .job-title {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.card .container ul li {
  margin: 0 0 10px 23px;
  color: var(--content);
  line-height: 1.5;
}

.card .container ul li:last-child {
  margin: 0 0 0 23px;
}

.card span {
  color: var(--content);
}

/* Section of Projects */

.project-section {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap: 48px;
}

.project-section .project-item {
  background: linear-gradient(to right, var(--gray-dark-200) 50%, var(--gray-dark-100) 50%);
  box-shadow: var(--card-shadow);
  border-radius: 12px;
  padding: 48px;
  gap: 100px;
}

.project-section .project-item:nth-child(even) {
  background: linear-gradient(to right, var(--gray-dark-100) 50%, var(--gray-dark-200) 50%);
}

.project-item article {
  color: var(--description);
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 500px;
}

.image-section img {
  position: relative;
  top: 0.6rem;
}

article span {
  max-width: 480px;
}

article h4 {
  font-weight: 600;
  font-size: 20px;
}

article .project-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

article .project-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-skills span {
  background-color: var(--gray-dark-200);
  padding: 3px 15px;
  border-radius: 12px;
}

/* Section of Testimonials */

.testimonials {
  min-height: auto;
  background-color: var(--container-colour);
}

.card-container {
  padding-inline: 2rem;
  flex-wrap: wrap;
  gap: 48px;
}

.card-item {
  background: var(--gray-dark-100);
  border-radius: 12px;
  flex-direction: column;
  justify-content: space-around;
  color: var(--description);
  box-shadow: var(--card-shadow);
  width: min(373px, 100%);
  min-height: 430px;
  padding: 48px;
  gap: 20px;
}

.card-item p {
  max-width: 277px;
  line-height: 24px;
}

.text-section {
  text-align: center;
}

.text-section span {
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
}

.text-section p {
  font-size: 14px;
  font-weight: 400;
}

/* Footer section */

.contact-container {
  min-height: auto;
  flex-direction: column;
  gap: 48px;
}

.contact-container .title {
  padding: 0.8rem 1.5rem 0;
  width: 630px;
}

.contact-section {
  flex-direction: column;
  max-width: max-content;
  gap: 18px;
}

.contact-item {
  display: flex;
  gap: 1.4rem;
}

.contact-item a {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.reach-user {
  max-width: max-content;
  flex-direction: column;
  color: var(--description);
  gap: 0.5rem;
}

footer {
  background-color: var(--container-colour);
  color: var(--description);
  text-align: center;
  padding: 20px 80px;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 0 14px 0 var(--card);
  letter-spacing: 0.5px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer span {
  font-size: 14px;
}

footer a {
  color: inherit;
  text-decoration: underline;
}

footer a:hover {
  text-decoration: none;
  color: #4a90e2;
}

footer .heart {
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2.5);
    filter: drop-shadow(0 0px 5px #ff0000);
  }
  100% {
    transform: scale(1);
  }
}
